<%- include('../partials/header') %>

<h1>Add New Ticket for Flight #<%= flight.flightNo %></h1>
<div class="newForm ticketForm">
  <h1>TICKET DETAILS</h1>
  <section class= "ticket-details"></section>
  <form method="POST" action='/flights/<%= flight %>/tickets'>
  <label> Pick Seat Assignment:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <br/>
  <br/>
  <label>Price:</label>
  <input name="price" type="number" min="0">
  <br/>
  <br/>
  <button type='submit'>Add New Ticket</button>
  </form>
</div>

<%- include('../partials/footer') %>